
# KITOS API V2
KITOS_BASE_URL=https://kitos.dk/api/v2
KITOS_TOKEN=

# SharePoint (servicekonto uden MFA)
SHAREPOINT_URL=https://aarhuskommune.sharepoint.com/sites/din-site
SP_USERNAME=servicekonto@aarhus.dk
SP_PASSWORD=

# SharePoint listenavn (ikke ID)
SHAREPOINT_FILTER_LIST=IT-Systemer Godkendt
SHAREPOINT_SYNC_LIST=IT-Systemer KITOS


